<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>Indiana School Academic Dashboard</title>
   
   <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
   <!-- <script src="https://d3js.org/d3.v5.js"></script> -->
   <!-- <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script> -->
   <!-- <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script> -->
   <!-- <link rel="stylesheet" href="https://unpkg.com/slim-select@latest/dist/slimselect.css" /> -->
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
   
   <!-- Imported Modules (Local) -->
   <script src="{{ url_for('static', filename='slimselect.min.js')}}"></script>
   <script src="{{ url_for('static', filename='d3.v5.js')}}"></script>
   <script src="{{ url_for('static', filename='ag-grid-community.min.js')}}"></script>
   
   <!-- Local Modules -->
   <script src="{{ url_for('static', filename='d3-helpers.js')}}"></script>
   <script src="{{ url_for('static', filename='helpers.js')}}"></script>
   <script src="{{ url_for('static', filename='utils.js')}}"></script>
   <script src="{{ url_for('static', filename='d3-utils.js')}}"></script>   
   <link rel="stylesheet" media="all" href="{{ url_for('static', filename='dashboard.css')}}">

   <!-- Imported Stylesheets (Local) -->
   <link rel="stylesheet" media="all" href="{{ url_for('static', filename='slim-select.css')}}">
   <!-- <link rel="stylesheet" media="all" href="{{ url_for('static', filename='all.css')}}"> -->
</head>
<body>
   <h3>Indiana Public School Academic Dashboard</h3>
   <form name="dashboardselect" id="dropdown">
      <label>Select School Corporation:</label>
      <select name="corporation" id="corpSelect"></select>
      <br>
      <label>Select School:</label>
      <select name="school" id="schoolSelect"></select>
      <br>
      <label>Select Year:</label>
      <select name="year" id="yearSelect"></select>
   </form>

   <div id ="allnav">
      <div class="row">
         <div class="nav-container twelve columns">
            <div id="nav-tabs" class="nav">
               <button data-tab="tab-n-1" id="demoTab" class="tab main active">Demographics</button>
               <button data-tab="tab-n-2" id="infoTab" class="tab main">Academic Information</button>
               <button data-tab="tab-n-3" id="analysisTab" class="tab main">Academic Analysis</button>
            </div>
         </div>
      </div>        
      <div class="row">
         <div class="nav-container twelve columns">
            <div id="typenav-tabs" class="typenav">
               <button data-typetab="tab-t-1" id="k8Tab" class="tab type active">K8</button>
               <button data-typetab="tab-t-2" id="hsTab" class="tab type">HS</button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="nav-container twelve columns">
            <div id="subnav-tabs" class="subnav">
               <button data-subtab="tab-s-1" id="ilearnTab" class="tab info active">ILEARN</button>
               <button data-subtab="tab-s-2" id="ireadTab" class="tab info">IREAD</button>
            </div>
         </div>
      </div>
      <!-- <div class="row">
         <div class="nav-container twelve columns">
            <div id="subnav-tabs" class="subnav">
               <button data-subtab="tab-sub3-1" id="singleTab" class="tab info active">Selected Year</button>
               <button data-subtab="tab-sub3-2" id="multiTab" class="tab info">Multi-Year</button>
            </div>
         </div>
      </div>              -->
   </div>
   <div class="row">
      <div class="panel-container">
         <div id="tab-content">
            <div data-tab="tab-n-1" class="active">
               <section id="tab-one">
                  <div class="grid">
                     <div class="empty-box tab1-a-label" id="demo-container-1-label-1"><div class="label__header"><div id="demo-container-1-label-1-text">Total Enrollment</div></div></div>
                     <div class="table-box tab1-a1-table" id="demo-container-1-table-1"><div id="enrollmentTable" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
                     <div class="box tab1-a2-lines" id="demo-container-1-chart-1"><div id="enrollmentChart"></div></div>

                     <div class="empty-box tab1-b-label" id="demo-container-2-label-2"><div class="label__header" id="demo-container-2-label-1-text">Attendance Rate and Chronic Absenteeism</div></div>
                     <div class="table-box tab1-b1-table" id="demo-container-2-table-2"><div id="attendanceTable" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
                     <div class="box tab1-b2-lines" id="demo-container-2-chart-2"><div id="attendanceChart"></div></div>

                     <div class="group-box tab1-c1-stack" id="demo-container-3-stack-1"><div id="ethnicityDemoChart"></div></div>
                     <div class="group-box tab1-c2-stack" id="demo-container-3-stack-2"><div id="statusDemoChart"></div></div>
                  </div>
               </section>
            </div>
            <div data-tab="tab-n-2">
               <section id="tab-two">
                  <div class="grid">
                     <div class="empty-box tab2-a-label" id="info-container-1-label-e1"><div class="label__header" id="info-container-1-label-e1-text">ELA By Ethnicity</div></div>
                     <div class="table-box tab2-a1-table" id="info-container-1-table-e1"><div id="ethnicityTable1" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
                     <div class="box tab2-a2-lines" id="info-container-1-chart-e1"><div id="ethnicityChart1"></div></div>
                     <div class="stack-box tab2-a-stack" id="info-container-1-stack-e1"><div id="ethnicityStack1"></div></div>

                     <div class="empty-box tab2-b-label" id="info-container-2-label-e2"><div class="label__header" id="info-container-2-label-e2-text">Math By Ethnicity</div></div>
                     <div class="table-box tab2-b1-table" id="info-container-2-table-e2"><div id="ethnicityTable2" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
                     <div class="box tab2-b2-lines" id="info-container-2-chart-e2"><div id="ethnicityChart2"></div></div>
                     <div class="stack-box tab2-b-stack" id="info-container-2-stack-e2"><div id="ethnicityStack2"></div></div>

                     <div class="empty-box tab2-c-label" id="info-container-1-label-s1"><div class="label__header" id="info-container-1-label-s1-text">ELA By Status</div></div>
                     <div class="table-box tab2-c1-table" id="info-container-1-table-s1"><div id="statusTable1" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
                     <div class="box tab2-c2-lines" id="info-container-1-chart-s1"><div id="statusChart1"></div></div>
                     <div class="stack-box tab2-c-stack" id="info-container-1-stack-s1"><div id="statusStack1"></div></div>

                     <div class="empty-box tab2-d-label" id="info-container-2-label-s2"><div class="label__header" id="info-container-2-label-s2-text">Math By Status</div></div>
                     <div class="table-box tab2-d1-table" id="info-container-2-table-s2"><div id="statusTable2" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
                     <div class="box tab2-d2-lines"  id="info-container-2-chart-s2"><div id="statusChart2"></div></div>
                     <div class="stack-box tab2-d-stack" id="info-container-2-stack-s2"><div id="statusStack2"></div></div>

                     <div class="empty-box tab2-e-label" id="info-container-1-label-t1"><div class="label__header" id="info-container-1-label-t1-text">ELA By Grade</div></div>
                     <div class="table-box tab2-e1-table" id="info-container-1-table-t1"><div id="totalTable1" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
                     <div class="box tab2-e2-lines" id="info-container-1-chart-t1"><div id="totalChart1"></div></div>
                     <div class="stack-box tab2-e-stack" id="info-container-1-stack-t1"><div id="totalStack1"></div></div>

                     <div class="empty-box tab2-f-label" id="info-container-2-label-t2"><div class="label__header" id="info-container-2-label-t2-text">Math By Grade</div></div>
                     <div class="table-box tab2-f1-table" id="info-container-2-table-t2"><div id="totalTable2" style="width: 100%; height: 100%" class="ag-theme-quartz"></div></div>
                     <div class="box tab2-f2-lines" id="info-container-2-chart-t2"><div id="totalChart2"></div></div>
                     <div class="stack-box tab2-f-stack" id="info-container-2-stack-t2"><div id="totalStack2"></div></div>

                  </div>
               </section>
            </div>
            <div data-tab="tab-n-3">
               <section id="tab-three">
               <div class="row">
                  <div class="nav-container twelve columns">
                     <label id="comparisonLabel">Add or Remove Schools:</label>
                     <select id="comparisonSelect" multiple></select>
                  </div>
               </div>
               <div class="row">
                  <div class="nav-container twelve columns">
                     <div class="grid">
                        <div class="empty-box tab3-a-label"><div class="label__header">Comparison: ELA Proficiency By Ethnicity</div></div>
                        <div class="stack-box tab3-a-group"><div id="elaComparisonByEthnicity"></div></div>
                        <div class="stack-box tab3-b-group"><div id="elaComparisonBySubgroup"></div></div>
                        <!-- <div class="stack-box tab3-c-group"><div id="elaComparisonByGrade"></div></div> -->
                     </div>
                  </div>
               </div>
               </section>
            </div>
         </div>
      </div>
   </div>
</body>

<script type="module">

// Indiana Public School Academic Dashboard
// author:   jbetley (https://github.com/jbetley)
// version:  0.9
// date:     01.11.25

// current max academic and demographic years
const getMaxYears = `${window.origin}/config`;
const yearResponse = await fetch(getMaxYears);
const maxYears = await yearResponse.json();

const curAcademicYear = maxYears.academic_year
const curDemographicYear = maxYears.demographic_year

// get list of corporations and schools, Names and IDs
const allSchoolsUrl = `${window.origin}/load`;
const allSchoolsResponse = await fetch(allSchoolsUrl);
var allSchoolsObj = await allSchoolsResponse.json();

// Add Corp/School ID to display name strings
allSchoolsObj.forEach(function (obj) {
   obj["Corporation Name"] = obj["Corporation Name"] + " (" + toString(obj["Corporation ID"]) + ")"
   obj["School Name"] = obj["School Name"] + " (" + toString(obj["School ID"]) + ")"
});

let yearSelection = document.getElementById("yearSelect");
const corpSelection = document.getElementById("corpSelect");
const schoolSelection = document.getElementById("schoolSelect");
const comparisonSelection = document.getElementById("comparisonSelect");

// TODO: Using these anywhere?
var activeMainTab = document.querySelectorAll(".tab.active")[0].innerHTML;
var activeSubInfoTab = document.querySelectorAll(".tab.info.active")[0].innerHTML;
var activeTypeTab = document.querySelectorAll(".tab.type.active")[0].innerHTML;

var comparisonSelect = new SlimSelect({
  select: "#comparisonSelect",
  settings: {
    alwaysOpen: false,
    contentPosition: "absolute",
    placeholderText: "",
    minSelected: 1,
    maxSelected: 8,
    showSearch: true,
    closeOnSelect: true,
    hideSelected: true
  }
});

// Chart variables
const subjectK8 = ["ELA", "Math"];
const subjectHS = ["EBRW", "Math"];
const grade = ["Grade 3", "Grade 4", "Grade 5", "Grade 6", "Grade 7", "Grade 8", "Total"];
const ethnicityCategory = ["American Indian","Asian","Black","Hispanic","Multiracial","Native Hawaiian or Other Pacific Islander","White"];
const statusCategory = ["Special Education","General Education","Paid Meals","Free or Reduced Price Meals","English Language Learners","Non English Language Learners"];
const categoryList = [grade, ethnicityCategory, statusCategory];
const allCategories = ethnicityCategory + statusCategory + grade;

var enrollmentChart;
var attendanceChart;
var ethnicityDemoChart;
var statusDemoChart;
var enrollmentTableGridApi;
var attendanceTableGridApi;
var ethnicityChart1;
var ethnicityChart2;
var statusChart1;
var statusChart2;
var totalChart1;
var totalChart2;
var ethnicityStack1;
var ethnicityStack2;
var statusStack1;
var statusStack2;
var totalStack1;
var totalStack2;
var gridApi = [];
var elaComparisonByEthnicity;
var elaComparisonBySubgroup;

// https://www.pluralsight.com/resources/blog/guides/handling-nested-http-requests-using-the-fetch-api
// https://dev.to/alexmercedcoder/making-multiple-api-calls-in-javascript-kip
// https://www.makeuseof.com/tag/python-javascript-communicate-json/
// https://stackoverflow.com/questions/66978996/is-there-a-better-way-of-creating-tabs-using-vanilla-javascript-than-this

// TODO: switch to search bar? Need to tweak Corp/School Dropdowns
// https://stackoverflow.com/questions/73066547/search-bar-with-dropdown-list
// https://stackoverflow.com/questions/68075281/search-for-item-in-long-dropdown-list-with-input-filter-but-only-allow-user-to
// https://stackoverflow.com/questions/64861548/searchable-drop-down

// https://slimselectjs.com/
// https://github.com/brianvoe/slim-select

function getSelectedYear() {
   return yearSelection.value;
};

function getCorpSelection() {
   let corpIDValue;

   if (corpSelection != null && corpSelection.value == "") {
      // finds first element in array even if it falsy (but not if undefined)
      corpIDValue = allSchoolsObj.find(e => typeof e !== "undefined")["Corporation ID"]
   }
   else {
      corpIDValue = corpSelection.value
   }

   return corpIDValue
}

function getSchoolSelection() {
   let schoolIDValue;

   if (schoolSelection != null && schoolSelection.value == "") {
      schoolIDValue = allSchoolsObj.find(e => typeof e !== "undefined")["School ID"]
   }
   else {
      schoolIDValue = schoolSelection.value
   }

   return schoolIDValue
}

// adds comparison schools to selectedValues obj on academic analysis page
function getComparisonValues() {

   let selectedValues = getSelectedValues();
   let comparisonSchools = comparisonSelect.getSelected();
   selectedValues.comparison_schools = comparisonSchools;

   return selectedValues
}

function getSelectedValues() {

   const Year = getSelectedYear();
   const school_id = getSchoolSelection();
   const pageTab = document.querySelector(".tab.main.active").id;
   const infoTab = document.querySelector(".tab.info.active").id;
   const typeTab = document.querySelector(".tab.type.active").id;

   let schoolInfo = allSchoolsObj.filter(o => o["School ID"] == school_id && o.Year == Year);

   let school_type = schoolInfo[0]["School Type"]
   let school_subtype = schoolInfo[0]["Sub Type"]

   let location;

   if (pageTab == "infoTab") {
      location = infoTab;
   }
   else {
      location = pageTab
   }

   if (pageTab != "demoTab" && school_type == "K12") {
      if (typeTab == "hsTab") {
         school_subtype = "HS"
      }
      else {
         school_subtype = "K8"
      }
   }

   let selectedValues = {};
   selectedValues.school_id = school_id;
   selectedValues.year = Year;
   selectedValues.school_type = school_type;
   selectedValues.school_subtype = school_subtype;
   selectedValues.comparison_schools = [];
   selectedValues.location = location;       

   return selectedValues
}

// Navigation
// https://stackoverflow.com/questions/66978996/is-there-a-better-way-of-creating-tabs-using-vanilla-javascript-than-this
// https://stackoverflow.com/questions/50774938/vanilla-javascript-toggle-drop-down-menu

// switches active status and hides or shows subnavigation
const navTabs = document.querySelector("div#nav-tabs"),
   subnavTabs = document.querySelector("div#subnav-tabs"),
   typenavTabs = document.querySelector("div#typenav-tabs"),
   nav_tab_elms = document.querySelectorAll("button[data-tab], div[data-tab]"),
   subnav_tab_elms = document.querySelectorAll("button[data-subtab]"),
   typenav_tab_elms = document.querySelectorAll("button[data-typetab]");

   navTabs.onclick = ({target}) => {

      const schoolType = getSelectedValues().school_type;
      const schoolSubtype = getSelectedValues().school_subtype;

      // ignore other clicks in this area (like spaces between buttons)
      if (!target.matches("button[data-tab]")) return

      const pageTab = document.querySelector(".tab.main.active").id;
      const infoTab = document.querySelector(".tab.info.active").id;
      const typeTab = document.querySelector(".tab.type.active").id;
      const subContent = document.querySelector(".subnav");
      const typeContent = document.querySelector(".typenav");

      // school type nav (K8/HS)
      if (pageTab != "demoTab" && schoolType == "K12") {
         typeContent.classList.toggle("open");
      }
      else {
         typeContent.classList.remove("open");
      }
      
      // academic info type nav (ILEARN/IREAD)
      if (target.id == "infoTab" && 
         ((schoolType == "K8" && schoolSubtype != "MS") || schoolSubtype == "K8")) {
         subContent.classList.toggle("open");
      }
      else {
         subContent.classList.remove("open");
      }

      // cycling through "dataset", which is "tab-n-1", "tab-n-2"
      // and setting class to active where the target.dataset equals the class
      nav_tab_elms.forEach(elTab => {
         elTab.classList
         .toggle("active", (elTab.dataset.tab===target.dataset.tab))
      })
  };

  // academic info type
  subnavTabs.onclick = ({target}) => {

      if (!target.matches("button[data-subtab]")) return

      subnav_tab_elms.forEach(elTab => {
         elTab.classList
         .toggle("active", (elTab.dataset.subtab===target.dataset.subtab))
      })
   };

   // school type
   typenavTabs.onclick = ({target}) => {

      if (!target.matches("button[data-typetab]")) return

      typenav_tab_elms.forEach(elTab => {
         elTab.classList
         .toggle("active", (elTab.dataset.typetab===target.dataset.typetab))
      })
   };

function setCorpList (data) {
   const Year = getSelectedYear();

   let yearData = data.filter(o => o.Year == Number(Year));

   // remove duplicates
   let corpDropdown = yearData.filter((v,i,a)=>a.findIndex(v2=>(v2["Corporation ID"]===v["Corporation ID"]))===i);

   // sort alphabetically
   // corpDropdown.sort((a, b) => a["Corporation Name"].localeCompare(b["Corporation Name"]));

   corpDropdown.forEach(
      (corp) => corpSelection
      .appendChild(new Option(corp["Corporation Name"], corp["Corporation ID"]))
   );

   // initialize school list
   setSchoolList(data);
}

function setSchoolList(data) {
   let schoolDropdown = []

   const Year = getSelectedYear();
   const selCorpID = getCorpSelection();
   const selSchoolID = getSchoolSelection();

   let yearData = data.filter(o => o.Year == Number(Year));

   schoolDropdown = yearData.filter(obj => obj["Corporation ID"] == selCorpID)

   // clears school dropdown before rebuilding
   removeOptions(schoolSelection);

   // schoolDropdown.sort((a, b) => a["School Name"].localeCompare(b["School Name"]));

   schoolDropdown.forEach(
      (school) => schoolSelection
      .appendChild(new Option(school["School Name"], school["School ID"]))
   );

   console.log("Set School List")
   console.log(getSelectedValues())

   // load comparison schools
   if (activeMainTab === "Academic Analysis") {
      let selectedValues = getSelectedValues();
      getComparisonSchools(selectedValues);
   };

   // auto trigger change event whenever School List changes
   var event = new Event("change");
   schoolSelection.dispatchEvent(event);
};

/// Comparison List ///
function setComparisonList(data) {
   
   let subset = data.map(({ ["School ID"]: value, ["School Name"]: text }) => ({ text, value }));
   
   // remove selected school from dropdown
   subset = subset.slice(1);

   // set list of available comparison schools
   comparisonSelect.setData([]);
   comparisonSelect.setData(subset);

   // as default, select first 4 (closest) schools
   let initialSelections = subset.map(function (obj) {
      return obj.value;
   });

   initialSelections = initialSelections.slice(0, 4);
   comparisonSelect.setSelected(initialSelections);
};

function setYearList(data, id) {

   let selectedYear = yearSelection;

   removeOptions(selectedYear);

   let yearValue,
      maxYear;

   let availableYears = [... new Set(data.map(o => o.Year))];

   if (id == "demographic") {
      maxYear = curDemographicYear;
   }
   else {
      maxYear = curAcademicYear;
   };

   // make sure selected Year is not greater than max academic year
   availableYears = availableYears.filter(arr => arr <= maxYear);
   availableYears.sort((a, b) => (a > b ? -1 : 1))

   if (id == "academic") {
      // TODO: We are temporarily removing "2020" because there is no
      // academic data for k8 - eventually need to add it back for HS
      const index = availableYears.indexOf(2020);
      if (index > -1) {
         availableYears.splice(index, 1);
      }
   }
   availableYears.forEach((year) => selectedYear.appendChild(new Option(year, year)));
};

/// Get Data ///

// Get Demographic data
async function gettinJiggyWitIt(select) {
   const jiggy = await fetch(`${window.origin}/demographic`, {
      method: "POST",
         credentials: "include",
         cache: "no-cache",
         headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
      },
      body:JSON.stringify(select)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
      });

   let demData = jiggy[0];
   demographicsPage(demData, select);
}

// Get Academic Information data
async function getMeatAndPotatoes(select) {
   const meat = await fetch(`${window.origin}/academic`, {
      method: "POST",
         credentials: "include",
         cache: "no-cache",
         headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
      },
      body:JSON.stringify(select)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
      })

      let infoData = meat[0];
      academicInfoPage(infoData, select);
}

// Get Academic Analysis Data
// TODO: Why is this function different? arg is data vs select??
async function getFishAndChips(data) {

   const chips = await fetch(`${window.origin}/academic`, {
      method: "POST",
      headers: {
            "Content-type": "application/json",
            "Accept": "application/json"
      },
      body:JSON.stringify(data)
   })
   .then(response=>{
      if (response.ok) {
         return response.json()
      } else {
         alert("Network Error: Could not load data.")
      }
   });

   let analysisData = chips[0]
   academicAnalysisPage(analysisData)
};

// Calculate Comparison Dropdown
async function getComparisonSchools(data) {
   const comparisonSchoolList = await fetch(`${window.origin}/where`, {
      method: "POST",
      headers: {
            "Content-type": "application/json",
            "Accept": "application/json"
      },
      body:JSON.stringify(data)})
      .then(response=>{
         if (response.ok) {
            return response.json()
         } else {
            alert("Network Error: Could not load data.")
         }
      })
      setComparisonList(comparisonSchoolList)
}

// Chart Demographic Data
function demographicsPage(data, select) {
   let school_id = select.school_id;
   let Year = select.year;
   
   let schoolData = data.filter((ele) => ele["School ID"] === Number(school_id));
   let corpData = data.filter((ele) => ele["School ID"] != Number(school_id));

   // number of years to limit data - each element in the array
   // represents one year in descending order- so we want to
   // remove elements from the front of the array to get array
   // size to yearLimit
   const yearLimit = 5;

   const yearsToRemove = schoolData.length - yearLimit;
   
   if (yearsToRemove > 0 ) {
      schoolData = dropElements(schoolData, yearsToRemove);
      corpData = dropElements(corpData, yearsToRemove);
   };

   const curYearSchoolDemographics = schoolData.filter((ele) => ele.Year === Number(Year))[0];
   const curYearCorpDemographics = corpData.filter((ele) => ele.Year === Number(Year))[0];

   // enrollment table data //
   var enrollmentTableObj = Object.entries(curYearSchoolDemographics).reduce((acc, [key, value]) => {
      if (
         (key.startsWith("Grade") && value === 0) ||
         (
            (!key.startsWith("Grade")) && (!key.startsWith("Total"))
         )) {
         return { ...acc };
      }
      return { ...acc, [key]: value };
   }, {});

   // rename Total Enrollment (NOTE: Better to modify at source)
   delete Object.assign(enrollmentTableObj,
      {["Total"]: enrollmentTableObj["Total Enrollment"]})["Total Enrollment"];

   // TODO: Does this need to be assigned a new value? Can't remember
   removeItemsByValue(enrollmentTableObj,"0")

   var enrollmentTableData = Object.keys(enrollmentTableObj)
      .map(key => ({grade: key, enrollment: enrollmentTableObj[key]}));

   // enrollment chart data //
   let keep = ["Year","Total Enrollment"];
   var enrollmentChartData = filterObj(schoolData, keep);

   // attendance and chronic absenteeism data //
   keep = ["Year","Attendance Rate", "Chronic Absenteeism %"];
   var attendanceChartData = filterObj(schoolData, keep);

   let attChartkeys = getKeys(attendanceChartData);
   const attChartcols = attChartkeys.filter(e => e !== "Year");
   attendanceChartData["columns"] = attChartcols;

   let attendanceTableData = transposeData(attendanceChartData, "Year");

   // demographic chart data //
   const ethnicityCategories = ethnicityCategory.concat(["School Name", "Total Enrollment"]);
   const statusCategories = statusCategory.concat(["School Name", "Total Enrollment"]);

   let ethnicityYearSchool = filterCategories(curYearSchoolDemographics, ethnicityCategories);
   let ethnicityYearCorp = filterCategories(curYearCorpDemographics, ethnicityCategories);
   let statusYearSchool = filterCategories(curYearSchoolDemographics, statusCategories);
   let statusYearCorp = filterCategories(curYearCorpDemographics, statusCategories);

   // inputs: entity data; array of categories; the value we are finding percentage of,
   // and min percentage to include in final data
   findPercentage(ethnicityYearSchool, ethnicityCategory, ethnicityYearSchool["Total Enrollment"], .005);
   findPercentage(ethnicityYearCorp, ethnicityCategory, ethnicityYearCorp["Total Enrollment"], 0);
   findPercentage(statusYearSchool, statusCategory, statusYearSchool["Total Enrollment"], .005);
   findPercentage(statusYearCorp, statusCategory, statusYearCorp["Total Enrollment"], 0);

   // create a string with missing categories if such categories exist
   // and then remove missing data keys
   var missingEthnicityString = findMissing(ethnicityYearSchool, ethnicityYearCorp);
   var missingStatusString = findMissing(statusYearSchool, statusYearCorp);

   // merge school and corp objects
   let ethnicityArray = [ethnicityYearSchool];
   ethnicityArray.push(ethnicityYearCorp);

   let ethnicityTransposed = transposeData(ethnicityArray, "School Name");
   var ethnicityDemoChartData = processBarData(ethnicityTransposed);

   let statusArray = [statusYearSchool];
   statusArray.push(statusYearCorp);

   let statusTransposed = transposeData(statusArray, "School Name");
   var statusDemoChartData = processBarData(statusTransposed);

   // initialize page
   if (!demographicsPage.initialize) {

      // Enrollment Table
      let enrollmentTableOptions = createEnrollmentTable(enrollmentTableData);
      const enrollmentTableGridDiv = document.querySelector("#enrollmentTable");
      enrollmentTableGridApi = agGrid.createGrid(enrollmentTableGridDiv, enrollmentTableOptions);

      // Enrollment Chart
      enrollmentChart = singleLine().data(enrollmentChartData).id("enrollmentChart");
      d3.select("#enrollmentChart").call(enrollmentChart);

      // Chronic Absenteeism and Attendance Rate Table
      let attendanceTableOptions = createBasicTable(attendanceTableData);
      const attendanceTableGridDiv = document.querySelector("#attendanceTable");
      attendanceTableGridApi = agGrid.createGrid(attendanceTableGridDiv, attendanceTableOptions);

      // Chronic Absenteeism and Attendance Rate Chart
      attendanceChart = multiLine().data(attendanceChartData).id("attendanceChart");
      d3.select("#attendanceChart").call(attendanceChart);

      // Demographics Bar Chart - Ethnicity
      ethnicityDemoChart = horizontalGroupBar().data([ethnicityDemoChartData,missingEthnicityString]).id("ethnicityDemoChart");
      d3.select("#ethnicityDemoChart").call(ethnicityDemoChart);

      // Demographics Bar Chart - Subgroup
      statusDemoChart = horizontalGroupBar().data([statusDemoChartData,missingStatusString]).id("statusDemoChart");
      d3.select("#statusDemoChart").call(statusDemoChart);

      demographicsPage.initialize = true;
   }
   else {   // update page
      let enrollmentTableOptions = createEnrollmentTable(enrollmentTableData);
      enrollmentTableGridApi.setGridOption("columnDefs", enrollmentTableOptions.columnDefs);
      enrollmentTableGridApi.setGridOption("rowData", enrollmentTableData);
      enrollmentChart.data(enrollmentChartData).id("enrollmentChart");

      let attendanceTableOptions = createBasicTable(attendanceTableData);
      attendanceTableGridApi.setGridOption("columnDefs", attendanceTableOptions.columnDefs);
      attendanceTableGridApi.setGridOption("rowData", attendanceTableData);
      attendanceChart.data(attendanceChartData).id("attendanceChart");

      ethnicityDemoChart.data([ethnicityDemoChartData,missingEthnicityString]).id("ethnicityDemoChart");
      statusDemoChart.data([statusDemoChartData,missingStatusString]).id("statusDemoChart");
   };
};

// Chart Academic Information
function academicInfoPage(data, select) {

   const year = select.year;
   const schoolType = select.school_type
   // TODO: Fix this here - deal with K12 on initial load
   console.log("ACAD INFO SELECT")
   console.log(select)
   console.log(getSelectedValues())

   if (schoolType == "K8") {
         var subject = subjectK8
      }
      else if ((schoolType == "HS") || (schoolType == "AHS")) {
         var subject = subjectHS
      }
      
// TODO: HANDLE BLANK TABLE
   if (!Array.isArray(data) || !data.length) {
      console.log("NO DATA")
      console.log(data)
      // TODO: BLANK TABLE
   }

   if (!academicInfoPage.initialize){

      // make sure year doesn't exceed max value
      if ((Year > curAcademicYear) || (Year == "")) { Year = curAcademicYear}

      // Proficiency Breakdowns display current year only
      const proficiencydata = data.filter((ele) => ele.Year === Number(Year))[0];

      ethnicityChart1 = multiLine()
         .data(getK8LineData(data, ethnicityCategory, subject[0], schoolType))
         .id("ethnicityChart1");
      d3.select("#ethnicityChart1")
         .call(ethnicityChart1);

      ethnicityStack1 = horizontalStackedBar()
         .data(getProficiencyBreakdown(proficiencydata, ethnicityCategory, subject[0]))
         .id("ethnicityStack1");
      d3.select("#ethnicityStack1")
         .call(ethnicityStack1);

      ethnicityChart2 = multiLine()
         .data(getK8LineData(data, ethnicityCategory, subject[1], schoolType))
         .id("ethnicityChart2");
      d3.select("#ethnicityChart2")
         .call(ethnicityChart2);

      ethnicityStack2 = horizontalStackedBar()
         .data(getProficiencyBreakdown(proficiencydata, ethnicityCategory, subject[1]))
         .id("ethnicityStack2");
      d3.select("#ethnicityStack2")
         .call(ethnicityStack2);

      statusChart1 = multiLine()
         .data(getK8LineData(data, statusCategory, subject[0], schoolType))
         .id("statusChart1");
      d3.select("#statusChart1")
         .call(statusChart1);

      statusStack1 = horizontalStackedBar()
         .data(getProficiencyBreakdown(proficiencydata, statusCategory, subject[0]))
         .id("statusStack1");
      d3.select("#statusStack1")
         .call(statusStack1);

      statusChart2 = multiLine()
         .data(getK8LineData(data, statusCategory, subject[1], schoolType))
         .id("statusChart2");
      d3.select("#statusChart2")
         .call(statusChart2);

      statusStack2 = horizontalStackedBar()
         .data(getProficiencyBreakdown(proficiencydata, statusCategory, subject[1]))
         .id("statusStack2");
      d3.select("#statusStack2")
         .call(statusStack2);

      totalChart1 = multiLine()
         .data(getK8LineData(data, grade, subject[0], schoolType))
         .id("totalChart1");
      d3.select("#totalChart1")
         .call(totalChart1);

      totalStack1 = horizontalStackedBar()
         .data(getProficiencyBreakdown(proficiencydata, grade, subject[0]))
         .id("totalStack1");
      d3.select("#totalStack1")
         .call(totalStack1);

      totalChart2 = multiLine()
         .data(getK8LineData(data, grade, subject[1], schoolType))
         .id("totalChart2");
      d3.select("#totalChart2")
         .call(totalChart2);

      totalStack2 = horizontalStackedBar()
         .data(getProficiencyBreakdown(proficiencydata, grade, subject[1]))
         .id("totalStack2");
      d3.select("#totalStack2")
         .call(totalStack2);

// Tables
// https://www.ag-grid.com/javascript-data-grid/grid-api/
// https://javascript.plainenglish.io/angular-how-can-you-clear-the-references-of-multiple-ag-grid-tables-together-353610b0c126
// https://stackoverflow.com/questions/67917738/multiple-ag-grids-setselected-to-true-is-only-working-for-the-last-grid

// https://stackoverflow.com/questions/53920531/can-we-change-the-view-for-ag-grid-in-mobile-devices

      let z = 0;
      // Create table for each category group and subject (6 tables) and
      // store in Array. NOTE: There has to be a better way to do this.
      for (let l = 0; l < subject.length; l++) {
         for (let j = 0; j < categoryList.length; j++) {

            // assign tableDiv based on content
            let tableName ="Table";
            let identifier;

            if (subject[l] == "ELA" || subject[l] == "EBRW") {
               identifier = "1"
            }
            else {
               identifier = "2"
            }

            if (categoryList[j].includes("Black")) {
               tableName = "ethnicityTable" + identifier;
            }
            else if (categoryList[j].includes("Special Education")) {
               tableName = "statusTable" + identifier;
            }
            else {
               tableName = "totalTable" + identifier;
            }

            let tableID = "#" + tableName // + subject[l].toLowerCase() 

            let tableData = getTableData(data, categoryList[j], subject[l])

            let tableOptions = createBasicTable(tableData, tableID)

            var gridDiv = document.querySelector(tableID)

            gridApi[z] = agGrid.createGrid(gridDiv, tableOptions);
            z++;
         }
      }
      academicInfoPage.initialize = true;
   }

   else {
      /* Update Charts */
      console.log(subject)
      ethnicityChart1.data(getK8LineData(data, ethnicityCategory, subject[0], schoolType)).id("ethnicityChart1")
      ethnicityChart2.data(getK8LineData(data, ethnicityCategory, subject[1], schoolType)).id("ethnicityChart2")
      statusChart1.data(getK8LineData(data, statusCategory, subject[0], schoolType)).id("statusChart1")
      statusChart2.data(getK8LineData(data, statusCategory, subject[1], schoolType)).id("statusChart2")
      totalChart1.data(getK8LineData(data, grade, subject[0], schoolType)).id("totalChart1")
      totalChart2.data(getK8LineData(data, grade, subject[1], schoolType)).id("totalChart2")

      if ((Year > curAcademicYear) || (Year == "")) { Year = curAcademicYear }
      if ((Year == 2020)) { Year = 2019 }

      const proficiencydata = data.filter((ele) => ele.Year === Number(Year))[0];

      ethnicityStack1.data(getProficiencyBreakdown(proficiencydata, ethnicityCategory, subject[0])).id("ethnicityStack1")
      ethnicityStack2.data(getProficiencyBreakdown(proficiencydata, ethnicityCategory, subject[1])).id("ethnicityStack2")
      statusStack1.data(getProficiencyBreakdown(proficiencydata, statusCategory, subject[0])).id("statusStack1")
      statusStack2.data(getProficiencyBreakdown(proficiencydata, statusCategory, subject[1])).id("statusStack2")
      totalStack1.data(getProficiencyBreakdown(proficiencydata, grade, subject[0])).id("totalStack1")
      totalStack2.data(getProficiencyBreakdown(proficiencydata, grade, subject[1])).id("totalStack2")

      /* Update Tables */
      //https://www.ag-grid.com/javascript-data-grid/data-update-row-data/
      // TODO: This seems Kludgy as hell. Loops through array of grids (using a
      // global) and using the gridDivID to determine which data to use.
      let tableData;
      let tableID;

      // Remove any elements with years > the selected year
      const tabledata = data.filter((obj, index) => !(obj.Year > Number(Year)));

      let newcols = tabledata.map(a => a.Year)
      newcols = newcols.map(String)

      for (let y=0; y<gridApi.length;y++) {

         tableID = gridApi[y].getGridId()

         if (tableID.includes("ethnicity")) {
            if (tableID.includes("1")) {
               tableData = getTableData(tabledata, ethnicityCategory, subject[0])
            }
            else {
               tableData = getTableData(tabledata, ethnicityCategory, subject[1])
            }
         }
         else if (tableID.includes("status")) {
            if (tableID.includes("2")) {
               tableData = getTableData(tabledata, statusCategory, subject[0])
            }
            else {
               tableData = getTableData(tabledata, statusCategory, subject[1])
            }
         }
         else {
            if (tableID.includes("1")) {
               tableData = getTableData(tabledata, grade, subject[0])
            }
            else {
               tableData = getTableData(tabledata, grade, subject[1])
            }
         }

         let tableOptions = createBasicTable(tableData)

         // need to reset columndefs as well as rowdata or else table
         // will have empty cols.
         gridApi[y].setGridOption("columnDefs", tableOptions.columnDefs);
         gridApi[y].setGridOption("rowData", tableData);
         }
      }
};

// Chart Academic Information
function academicAnalysisPage(data) {

   // TODO: pass these values through function? or get them a diff way?
   // TODO: is this duplicative?
   let selectedValues = getSelectedValues();
   let Year = getSelectedYear();
   let school_type = selectedValues.school_type;

   if (school_type == "K8") {
         var subject = subjectK8
      }
      else if ((school_type == "HS") || (school_type == "AHS")) {
         var subject = subjectHS
      }

   // Single Year Analysis Page
   console.log(" ACADEMIC ANALYSIS Comparison Year Data")
   let yearData = data.filter(o => o.Year == Number(Year));

   let ecbeData = getK8LineData(yearData, ethnicityCategory, subject[0], school_type)
   let elaComparisonByEthnicityTransposed = transposeData(ecbeData, "School Name");
   
   // TODO:GET INSUFFICIENT N HERE ?- val is not 0 it is non-existent
   var elaComparisonByEthnicityChartData = processBarData(elaComparisonByEthnicityTransposed);

   let ecbsData = getK8LineData(yearData, statusCategory, subject[0], school_type)
   let elaComparisonBySubGroupTransposed = transposeData(ecbsData, "School Name");

   // TODO:GET INSUFFICIENT N HERE ?- val is not 0 it is non-existent
   var elaComparisonBySubgroupChartData = processBarData(elaComparisonBySubGroupTransposed);

   if (!academicAnalysisPage.initialize){

   elaComparisonByEthnicity = verticalGroupBar().data(elaComparisonByEthnicityChartData).id("elaComparisonByEthnicity");
      d3.select("#elaComparisonByEthnicity").call(elaComparisonByEthnicity);

   elaComparisonBySubgroup = verticalGroupBar().data(elaComparisonBySubgroupChartData).id("elaComparisonBySubgroup");
      d3.select("#elaComparisonBySubgroup").call(elaComparisonBySubgroup);

   academicAnalysisPage.initialize = true;
   }
   else {
      elaComparisonByEthnicity.data(elaComparisonByEthnicityChartData).id("elaComparisonByEthnicity");
      elaComparisonBySubgroup.data(elaComparisonBySubgroupChartData).id("elaComparisonBySubgroup");
   }
   // TODO: Multi-Year Analysis Page
};


// Navigation //
if (allnav.addEventListener) {
   allnav.addEventListener('click',navigateHandler,false);
}
else {
   allnav.addEventListener('onclick',navigateHandler);

}

function navigateHandler(e) {
   const mainSelection = document.querySelector(".tab.main.active").id;
   const subSelection = document.querySelector(".tab.info.active").id;
   const subContent = document.querySelector(".subnav");
   const typeContent = document.querySelector(".typenav");

   e = e || window.event;
   var target = e.target || e.srcElement;

   var selectedValues = getSelectedValues();
   
   const strYear = selectedValues.year;
   const intYear = parseInt(strYear)
   let yearValue;

   const schoolType = selectedValues.school_type;
   const schoolSubtype = selectedValues.school_subtype;

   console.log(mainSelection)
   console.log(schoolType)
   console.log(schoolSubtype)
   if (target.id.match("demoTab")) {
      activeMainTab = "Demographics";

      setYearList(allSchoolsObj,"demographic");

      yearSelection.value = strYear;
      yearSelection.setAttribute("value", strYear);

      gettinJiggyWitIt(selectedValues);

      // adjust chart size based on browser window size
      let windowWidth = window.innerWidth/2 - 125;
      enrollmentChart.width(windowWidth);
      attendanceChart.width(windowWidth);
      ethnicityDemoChart.width(windowWidth);
      statusDemoChart.width(windowWidth);      
   }

   if (target.id.match("infoTab") || target.id.match("ilearnTab")|| target.id.match("ireadTab")) {

      let stacks = document.querySelectorAll('[id^="info-container-1-stack"]');
      let subcharts = document.querySelectorAll('[id^="info-container-2"]');
      let labels = document.querySelectorAll('[id^="info-container-1-label"]');

      console.log(labels)

      if (schoolType == "K12") {
         typeContent.classList.toggle("open");
      }
      else {
         typeContent.classList.remove("open");
      }

      if (mainSelection == "infoTab" && (
         (schoolType == "K8" && schoolSubtype != "MS") || schoolSubtype == "K8"
         )) {      
         subContent.classList.toggle("open");
      }
      else {
         subContent.classList.remove("open");
      }

      if (target.id.match("ireadTab")) {
         subcharts.forEach(el => {
            el.style.display = "none"; 
         });
         stacks.forEach(el => {
            el.style.display = "none"; 
         });
         labels.forEach(el => {
            el.innerHTML = "IREAAAAD!"; 
         });
      }
      else if (target.id.match("ilearnTab")) {
         subcharts.forEach(el => {
            el.style.display = "block"; 
         });
         stacks.forEach(el => {
            el.style.display = "block"; 
         });         
      }

      activeMainTab = "Academic Information";

      setYearList(allSchoolsObj,"academic");

      if (strYear == "2020") {
         yearValue = "2019";
      }
      else if (intYear > curAcademicYear) {
         yearValue = curAcademicYear.toString();
      }
      else {
         yearValue = strYear;
      }

      yearSelection.value = yearValue; //.toString()
      yearSelection.setAttribute("value", yearValue); //.toString());

      selectedValues["year"] = yearValue; //.toString()

      console.log("Nav Values")
      console.log(selectedValues)
      getMeatAndPotatoes(selectedValues);

      // adjust chart size based on browser window size
      let windowWidth = window.innerWidth/2 - 125;
      ethnicityChart1.width(windowWidth);
      ethnicityChart2.width(windowWidth);
      statusChart1.width(windowWidth);
      statusChart2.width(windowWidth);
      totalChart1.width(windowWidth);
      totalChart2.width(windowWidth);

    }
    else if (target.id.match("analysisTab")) {
      activeMainTab = "Academic Analysis";

      // let yearValue;
      // let currentYear = getSelectedYear();
      // let selectedValues = getSelectedValues();

      setYearList(allSchoolsObj,"academic");

      if (currentYear == 2020) {
         yearValue = 2019;
      }
      else if (intYear > curAcademicYear) {
         yearValue = curAcademicYear.toString();;
      }
      else {
         yearValue = strYear;
      }

      yearSelection.value = yearValue; //.toString()
      yearSelection.setAttribute("value", yearValue); //.toString());

      selectedValues["year"] = yearValue; //.toString()

      let comparisonValues = getComparisonValues();

      getFishAndChips(comparisonValues);
   }
}
   
/* Navigation - Selections */
schoolSelection.addEventListener("change", function () {

   let selectedValues = getSelectedValues();

   // TODO: Set thes in global or in each fucntion?
   const mainSelection = document.querySelector(".tab.main.active").id;
   const subSelection = document.querySelector(".tab.info.active").id;
   const subContent = document.querySelector(".subnav");
   const typeContent = document.querySelector(".typenav");

   if (mainSelection != "demoTab"  && selectedValues.school_type == "K12") {
      typeContent.classList.toggle("open");
   }
   else {
      typeContent.classList.remove("open");
   }

   if (
      (mainSelection == "infoTab") && (selectedValues.school_type == "K8" ||
         selectedValues.subtype == "K8") && (selectedValues.school_subtype != "MS")
   ) {
      subContent.classList.toggle("open");
   }
   else {
      subContent.classList.remove("open");
   }

   if (mainSelection === "analysisTab") {
      getComparisonSchools(selectedValues);
      let comparisonValues = getComparisonValues();
      getFishAndChips(comparisonValues);
   }
   else if (mainSelection === "infoTab")  {
      console.log("School Selection Values")
      console.log(selectedValues)
      getMeatAndPotatoes(selectedValues);
   }
   else {
      gettinJiggyWitIt(selectedValues)
   }

});

yearSelection.addEventListener("change", function () {
   let selectedValues = getSelectedValues();

   if (activeMainTab === "Academic Analysis") {
      let comparisonValues = getComparisonValues()
      getFishAndChips(comparisonValues);
   }
   else if (activeMainTab === "Academic Information")  {
      getMeatAndPotatoes(selectedValues);
   }
   else {
      gettinJiggyWitIt(selectedValues)
   }
});

comparisonSelection.addEventListener("change", function () {

   if (activeMainTab === "Academic Analysis") {
      let comparisonValues = getComparisonValues();
      getFishAndChips(comparisonValues);
   }
});

corpSelection.addEventListener("change", function () {
   setSchoolList(allSchoolsObj)
});

// Preload all charts on all tabs on first load
if (document.readyState !== "loading") {
   setYearList(allSchoolsObj,"demographic");

   let selectedValues = getSelectedValues();

   console.log("CorpSelect Values")
   console.log(selectedValues)

   gettinJiggyWitIt(selectedValues);
   getMeatAndPotatoes(selectedValues);

   getComparisonSchools(selectedValues);
   let comparisonValues = getComparisonValues()
   getFishAndChips(comparisonValues);
}

// initialize page by setting the corp list
setCorpList(allSchoolsObj)

d3.select(window).on("resize", resize);

function resize() {
   // TODO: prob better way to do this- at this point setting size
   // as half the value of the innerwidth of the window
   // TODO: Add breakpoint for single cols
   // TODO: create function for width calls
   let windowWidth = window.innerWidth/2 - 125;
   
   if (windowWidth >= 290) {

      if (activeMainTab === "Academic Analysis") {
      }
      else if (activeMainTab === "Academic Information") {

         ethnicityChart1.width(windowWidth);
         ethnicityChart2.width(windowWidth);
         statusChart1.width(windowWidth);
         statusChart2.width(windowWidth);
         totalChart1.width(windowWidth);
         totalChart2.width(windowWidth);

         // don't need to call stacks
         // elaEthnicityStack.width(windowWidth);
         // mathEthnicityStack.width(windowWidth);
         // elaStatusStack.width(windowWidth);
         // mathStatusStack.width(windowWidth);
         // elaStack.width(windowWidth);
         // mathStack.width(windowWidth);
      }
      else {
         enrollmentChart.width(windowWidth);
         attendanceChart.width(windowWidth);
         ethnicityDemoChart.width(windowWidth);
         statusDemoChart.width(windowWidth);
      }
   }
}
</script>
</html>